<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<!-- {{ data | tojson }} -->
{% set task = data.task %}

<body>
    <div class='container m-2 flex flex-col row justify-center items-center'>
        <p class="p-2 m-4"><a class="underline" href="/">Home</a></p>
        <p class="p-2 m-4"> Task - {{ task.name }} {{ task.completed }} {{ task.pomodoros }}</p>
        <div class='form'>
            <form action="/api" method="post">
                <p class="flex flex-col">
                    <input class="p-2 border-2" type="datetime-local" id="notes_date" name="notes_date" value=""
                        required>
                    <input class=" p-2 border-2" type="text" id="notes_text" name="notes_text" value="" required>
                    <input class="p-2 border-2" type="hidden" id="notes_task_id" name="notes_task_id"
                        value="{{ task.id }}" required>
                    <input type="hidden" id="action" name="action" value="add_notes">
                </p>
                <p>
                    <button class="w-full my-2 px-4 py-2 bg-blue-400" type="submit">Save Note</button>
                </p>
            </form>
        </div>

        <br />

        <div class="notes-list">
            <table>
                <tr>
                    <th class="text-left">Date</th>
                    <th class="text-left">Note</th>
                </tr>
                {% for note in data.notes %}
                <!-- <p>{{ note | tojson }}</p> -->
                <tr>
                    <td>{{ note.date.split('T')[0] }}</td>
                    <td>{{ note.text }}</td>
                    <td><a href="/edit/notes/{{ note.id }}">edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>