<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-neutral-900 text-neutral-100">
    <div class='cm-2 flex flex-col items-center pt-2'>
        <div class='form w-1/3'>
            <form action="/api" method="post">
                <p>
                    <input class="p-2 w-full border-2 text-black rounded-md" type="text" id="task_name" name="task_name"
                        data-testid="task" required>
                    <input type="hidden" id="action" name="action" value="add_task">
                </p>
                <p>
                    <button class="rounded-md mt-2 border-2 w-full border-zinc-800 p-2 focus:outline-none" type="submit"
                        data-testid="enter_task">Add Task</button>
                </p>
            </form>
        </div>

        <br />
        <!-- <p>{{ data | tojson }}</p> -->
        <div class="task-list">
            <table>
                <tr>
                    <th class="text-left">Task Name</th>
                    <th class="text-left">Status</th>
                    <th class="text-left">Pebbles</th>
                </tr>
                {% for task in data.tasks %}
                <!-- <p>{{ task | tojson }}</p> -->
                <tr>
                    <td class="pr-2">{{ task.name }}</td>
                    <td class="pr-2">{{ task.completed }}</td>
                    <td class="pr-2">{{ task.pomodoros }}</td>
                    <td class="p-2">
                        <a class="rounded-md mt-2 border-2 border-zinc-800 p-2 focus:outline-none"
                            href="/tasks/{{ task.id }}">edit task</a>
                    </td>
                    <td class="py-2">
                        <a class="rounded-md mt-2 border-2 border-zinc-800 p-2 focus:outline-none"
                            href="/tasks/delete/{{ task.id }}">delete task</a>
                    </td>
                    <td class="py-2">
                        <a class="rounded-md mt-2 border-2 border-zinc-800 p-2 focus:outline-none"
                            href="/notes/{{ task.id }}">edit notes</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>