<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
    <div class='container bg-green-200 m-2 flex flex-col justify-center items-center'>
        <div class='form bg-red-100'>
            <form action="/tasks" method="post">
                <p>
                    <input class="p-2 border-2" type="text" id="task_name" name="task_name" required>
                </p>
                <p>
                    <button class="w-full my-2 px-4 py-2 bg-blue-400" type="submit">Add Task</button>
                </p>
            </form>
        </div>

        <br />
        <div class="task-list">
            <table>
                <tr>
                    <th>name</th>
                    <th>status</th>
                </tr>
                {% for task in tasks %}
                {% set task = task[0] %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.completed }}</td>
                    <td>{{ task.pomodoros }}</td>
                    <td><a href="/tasks/{{ task.id }}">edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>